body {
    background-color: rgb(41, 37, 37);
}



#snow {
    background-image: url("img/snow_1.png"), url("img/snow_2.png"), url("img/snow_3.png");
    z-index: 1;
    animation: snow 5s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 500px 750px, 150px 1500px, -175px 150px
    }
}
#tree{
    position: fixed;
    left: calc(50% - 95px);
    width: 11000px;
    background-image: url("img/tree.png");
    height: 429px;
    background-size: contain;
}
#countdown{
    position: absolute;
    color: yellow;
    top: 66%;
    left: 9%;
    font-family: 'Squada One', cursive;
}
#countdown>p{
    font-size: 42pt;
    position: relative;
    left: 15%;
}
#countdown>span{
    font-size: 72pt;
}
#toy1{
    position: relative;
    width: 26px;
    left: 46px;
    top: 91px;
    transform-origin: top;
    animation: toyShake linear 3s infinite;
}
#toy2{
    position: relative;
    width: 26px;
    left: 46px;
    top: 91px;
    transform-origin: top;
    animation: toyShake linear 3s infinite;
}
#toy3{
    position: relative;
    width: 26px;
    left: 46px;
    top: 91px;
    transform-origin: top;
    animation: toyShake linear 3s infinite;
}

@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2");
  }
  
#graz{
    position: absolute;
    left: 14%;
    top: 25%;
    color: rgba(6, 250, 18, 0.438);
    font-family: 'Mountains of Christmas';

}

@keyframes toyShake {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


#graz>h1{
    font-size: 110pt;

}



/* Ёлка */
/* Параметры_Ёлки */
#tree{
    position: fixed;
    right: 95px;
    bottom: 0px;
    background-image: url("img/tree.png");
    background-size: contain;
    width: 190px;
    height: 211px;
    
}
/* Параметры Звезды */
#treeStar{
    position: relative;
    left: calc(50% - 16px);
    top: -27px;
    width: 35px;
    height: 34px;
    background-image: url(./img/tree_star.png);
    background-size: contain;
}
#treeStar>div{
    position: relative;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: transparent;
    z-index: -1;
    /* box-shadow: 
        0 0 20px 10px #ffffff,
        0 0 50px 30px rgb(255, 217, 0); */
}

/* Параметры Игрушек */
#toy1{
    position: relative;
    width: 26px;
    left: 34px;
    top: 36px;

    transform-origin: top;
}
#toy2{
    position: relative;
    width: 26px;
    left: 36px;
    top: 37px;

    transform-origin: top;
}
#toy3{
    position: relative;
    width: 26px;
    left: 22px;
    top: 49px;

    transform-origin: top;
}

/* Анимация качания игрушек */
.shaking{
    animation: toyShake linear 3s infinite;
}
@keyframes toyShake {
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(45deg);
    }

    50%{
        transform: rotate(0);
    }

    75%{
        transform: rotate(-45deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

/* Анимация свечения звезды */
.glowing>div{
    animation: starGlow 2s infinite;
}
@keyframes starGlow{
    to, from{
        box-shadow: 
            0 0 20px 10px #ffffff,
            0 0 50px 30px rgb(255, 217, 0);
    }
    50%{
        box-shadow: 
            0 0 20px 10px #ffffff,
            0 0 50px 20px rgb(255, 217, 0);
    }
}






#countdownMobile{
    position: absolute;
    color: yellow;
    top: 7%;
    left: 9%;
    font-family: 'Squada One', cursive;
}
#countdownMobile>p{
    font-size: 23pt;
    position: relative;
    left: 15%;
}
#countdownMobile>span{
    font-size: 43pt;
}

@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2");
  }
  
#grazMobile{
    position: absolute;
    left: 14%;
    top: 25%;
    color: rgba(6, 250, 18, 0.438);
    font-family: 'Mountains of Christmas';
}
#grazMobile>h1{
    font-size: 110pt;

}



